body
{
background-color:#FFF;
}
#welcome {
	background-color: #666;
	height: 700px;
	width: 1100px;
	color: #FFF;
	font-size: 40px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding: 0;
	border: 1px solid #000000;
}
#wrap {
	background-color: #000;
}
#wrap {
	background-color: #666;
	color: #FFF;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 1100px;
	padding-top: 0px;
	height: auto;
	border: 1px solid #000000;
}
